<nav class="navbar navbar-expand bg-body-tertiary">
    <div class="container-fluid">
        <ul class="navbar-nav">
            {% for l in menuItems() %}
                <li class="nav-item">
                    <a
                        class="nav-link{% if app.current_route starts with l %} active{% endif %}"
                        href="{{ url(l) }}"
                    >
                        {{ l | trans({}, 'menu') }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>