<ul class="list-group">
    {% for entry in entries %}
        <li class="list-group-item ">
            <div class="row align-items-center">
                <div class="col">
                    {% if entry.referenced %}
                        <span class="badge bg-warning-subtle text-warning">
                            <i class="bi bi-exclamation-triangle text-warning-emphasis"></i>
                            {{ 'in-use' | trans }}
                        </span>
                    {% endif %}
                    {{ entry.name }}
                </div>
                <div class="col-auto">
                    <button
                        class="btn btn-danger float-end"
                        type="submit"
                        name="{{ name }}"
                        value="{{ entry.id }}"
                        {% if entry.referenced %}
                            disabled
                        {% endif %}
                    >
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>